name: Deploy Finance API (Self-hosted Runner)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy Docker container
        run: |
          cd ~/backend-acc
          docker stop finance-api || true
          docker rm finance-api || true
          git fetch origin
          git reset --hard origin/main
          docker rmi backend-acc-finance-api:latest || true
          docker build -t backend-acc-finance-api .
          docker run -d -p 8888:8000 --name finance-api backend-acc-finance-api
